<p id="notice"><%= notice %></p>

<h1>Dispensaries</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Full address</th>
      <th>Email</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispensaries.each do |dispensary| %>
      <tr>
        <td><%= dispensary.name %></td>
        <td><%= dispensary.full_address %></td>
        <td><%= dispensary.email %></td>
        <td><%= dispensary.phone_number %></td>
        <td><%= link_to 'Must Be 18 or Older to Enter', dispensary %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
