<div class="header">
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @dispensary.name %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @dispensary.full_address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dispensary.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @dispensary.phone_number %>
</p>
</div>

<div class="dispensary-strains">
  <strong>In Stock:</strong>
    <% @dispensary.strains.each do |strain| %>
      <div class="strain">
        <%= strain.strain %>
        <%= strain.cannabinoid_abbreviation %>
        <%= strain.cannabinoid %>
        <%= strain.terpene %>
        <%= strain.medical_use %>
        <%= strain.health_benefit %>
        <%= strain.category %>
        <%= strain.strain_type %>
        <%= strain.image %>
      </div>
    <% end %>
</div>



<%= link_to 'Back', dispensary_path %>
