<p id="notice"><%= notice %></p>

  <div class="container col-sm-4">
    <strong>Strain:</strong> <%= @strain.strain %>
    <strong>CBV:</strong> <%= @strain.cannabinoid_abbreviation %>
    <strong>Cannabinoid:</strong> <%= @strain.cannabinoid %>
    <strong>Terpene:</strong> <%= @strain.terpene %>
    <strong>Medical Use:</strong> <%= @strain.medical_use %>
    <strong>Health Benefit:</strong> <%= @strain.health_benefit %>
    <strong>Category:</strong> <%= @strain.category %>
    <strong>Strain-Type:</strong> <%= @strain.strain_type %>
</div>

<div class="buttons">
  <%= link_to 'Edit', edit_admin_strain_path(@strain) %> |
  <%= link_to 'Back', admin_dashboard_path %> |
  <%= link_to 'Delete', admin_strain_path(@strain), method: :delete, data: { confirm: 'Are you sure?' }%>
</div>
