<h3><strong>Welcome:</strong> <%= @user.user_name %>!</h3>

<p>
  <strong>Your Dispensary:</strong>
  <%= @user.dispensary.name %> * <%= @user.dispensary.full_address %> * <%= @user.dispensary.email %> * <%= @user.dispensary.phone_number %>
</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Your Address:</strong>
  <%= @user.full_address %>
</p>

<p>
  <strong>Current Medical Card Number:</strong>
  <%= @user.med_card_number %>
</p>

<p>
  <strong>Plant count:</strong>
  <%= @user.plant_count %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', user_path(@user) %>
