<h3><strong>Welcome <%= @user.user_name %>!</strong></h3>

<div class="field">
  <strong>Your Dispensary:</strong><br />
  <%= link_to @user.dispensary.name, dispensary_path(@user.dispensary) %><br />
  <%= @user.dispensary.full_address %><br />
  <%= @user.dispensary.email %><br />
  <%= @user.dispensary.phone_number %><br />
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Your Address:</strong>
  <%= @user.full_address %>
</p>

<p>
  <strong>Current Medical Card Number:</strong>
  <%= @user.med_card_number %>
</p>

<p>
  <strong>Plant count:</strong>
  <%= @user.plant_count %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', dispensary_path(@user.dispensary) %>
