<p id="notice"><%= notice %>

<div class="container">
  <strong>Name:</strong> <%= @user.name %><br />
  <strong>Address:</strong> <%= @user.full_address %><br />
  <strong>Med Card:</strong> <%= @user.med_card_number %><br />
  <strong>Plant Count:</strong> <%= @user.plant_count %><br />
  <strong>User Name:</strong> <%= @user.user_name %> <br />
</div>

<div class="buttons">
  <%= link_to 'Edit', edit_admin_user_path(@user) %> |
  <%= link_to 'Back', admin_dashboard_path %> |
  <%= link_to 'Delete', admin_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }%>
</div>
