<%= link_to 'Back', dispensary_path %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Stain:</strong>
  <%= @strain.strain %>
</p>

<p>
  <strong>Cannabinoid abbreviation:</strong>
  <%= @strain.cannabinoid_abbreviation %>
</p>

<p>
  <strong>Cannabinoid:</strong>
  <%= @strain.cannabinoid %>
</p>

<p>
  <strong>Terpene:</strong>
  <%= @strain.terpene %>
</p>

<p>
  <strong>Medical use:</strong>
  <%= @strain.medical_use %>
</p>

<p>
  <strong>Health benefit:</strong>
  <%= @strain.health_benefit %>
</p>

<p>
  <strong>Category:</strong>
  <%= @strain.category %>
</p>

<p>
  <strong>Type:</strong>
  <%= @strain.strain_type %>
</p>
<p>
  <strong>Look at me!:</strong>
  <ul>
    <%= image_tag("https://img.sensiseeds.com/en/feminized-seeds/whitelabel/purple-bud-xl.jpg", size: '200') %>
  </ul>
</p>
