
DASHBOARD
<!-- <% if current_user %>
  <li><%= link_to "Dashboard", dashboard_path %></li>
    <li><%= link_to "Orders", orders_path %></li>
    <li><%= link_to "Logout", logout_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Login", login_path %></li>
  <% end %> -->


  EDIT USER
    <!-- <div class="field">
      <%= form.label :med_card_number %>
      <%= form.number_field :med_card_number, id: :user_med_card_number %>
    </div>

    <div class="field">
      <%= form.label :plant_count %>
      <%= form.number_field :plant_count, id: :user_plant_count %>
    </div> -->

ENVIRONMENT
<!-- <% unless request.env['PATH_INFO'] != '/' %> -->
